<form method="post">
<div class="row">
	<label for="txt_EmployeeID">EmployeeID:</label>
	<input id="txt_EmployeeID" name="txt_EmployeeID" type="text">
</div>
<div class="row">
	<label for="txt_FirstName">FirstName:</label>
	<input id="txt_FirstName" name="txt_FirstName" type="text">
</div>
<div class="row">
	<label for="txt_LastName">LastName:</label>
	<input id="txt_LastName" name="txt_LastName" type="text">
</div>
<div class="row">
	<label for="txt_SSN">SSN:</label>
	<input id="txt_SSN" name="txt_SSN" type="text">
</div>
<div class="row">
	<label for="txt_DOB">DOB:</label>
	<input id="txt_DOB" name="txt_DOB" type="text">
</div>
<div class="row">
	<label for="txt_Email">Email:</label>
	<input id="txt_Email" name="txt_Email" type="text">
</div>
<div class="row">
	<label for="txt_Address">Address:</label>
	<input id="txt_Address" name="txt_Address" type="text">
</div>
<div class="row">
	<label for="txt_Phone">Phone:</label>
	<input id="txt_Phone" name="txt_Phone" type="text">
</div>
<div class="row">
	<label for="txt_Role">Role:</label>
	<input id="txt_Role" name="txt_Role" type="text">
</div>
<div class="row">
	<label for="txt_Salary">Salary:</label>
	<input id="txt_Salary" name="txt_Salary" type="text">
</div>
<div class="row">
	<label for="txt_StartDate">StartDate:</label>
	<input id="txt_StartDate" name="txt_StartDate" type="text">
</div>
<div class="row">
	<label for="txt_EndDate">EndDate:</label>
	<input id="txt_EndDate" name="txt_EndDate" type="text">
</div>
<div class="row">
<input type="submit" value="Create">
</div>
</form>

