<form method="post">
<div class="row">
	<label for="txt_FirstName">FirstName:</label>
	<input id="txt_FirstName" name="txt_FirstName" type="text">
</div>
<div class="row">
	<label for="txt_LastName">LastName:</label>
	<input id="txt_LastName" name="txt_LastName" type="text">
</div>
<div class="row">
	<label for="txt_BillingAddress">BillingAddress:</label>
	<input id="txt_BillingAddress" name="txt_BillingAddress" type="text">
</div>
<div class="row">
	<label for="txt_Email">Email:</label>
	<input id="txt_Email" name="txt_Email" type="text">
</div>
<div class="row">
	<label for="txt_ReferralSource">ReferralSource:</label>
	<input id="txt_ReferralSource" name="txt_ReferralSource" type="text">
</div>
<div class="row">
<input type="submit" value="Create">
</div>
</form>

