<form method="post" action="/create/new/customer">
<div class="row">
	<label for="txt_CustomerID">CustomerID:</label>
	<input id="txt_CustomerID" name="txt_CustomerID" type="text">
</div>
<div class="row">
	<label for="txt_FirstName">FirstName:</label>
	<input id="txt_FirstName" name="txt_FirstName" type="text">
</div>
<div class="row">
	<label for="txt_LastName">LastName:</label>
	<input id="txt_LastName" name="txt_LastName" type="text">
</div>
<div class="row">
	<label for="txt_BillingAddress">BillingAddress:</label>
	<input id="txt_BillingAddress" name="txt_BillingAddress" type="text">
</div>
<div class="row">
	<label for="txt_Email">Email:</label>
	<input id="txt_Email" name="txt_Email" type="text">
</div>
<div class="row">
	<label for="txt_ReferralSource">ReferralSource:</label>
	<input id="txt_ReferralSource" name="txt_ReferralSource" type="text">
</div>
<div class="row">
	<label for="txt_Username">Username:</label>
	<input id="txt_Username" name="txt_Username" type="text">
</div>
<div class="row">
	<label for="txt_Password">Password:</label>
	<input id="txt_Password" name="txt_Password" type="text">
</div>
<div class="row">
	<label for="txt_StartDate">StartDate:</label>
	<input id="txt_StartDate" name="txt_StartDate" type="text" value="YYYY-MM-DD">
</div>
<div class="row">
<input type="submit" value="Create">
</div>
</form>

