<form method="post">
<div class="row">
	<label for="sel_Table">Table:</label>
	<select id="sel_Table" name="sel_Table">
		<option value="Customer">Customer</option>
		<option value="Employee">Employee</option>
		<option value="Ticket">Ticket</option>
	</select>
</div>
<input type="submit" value="Create">
</form>
{% if table %}
  {% if table == 'Customer' %}
    {% include 'createCustomer.html' %}
  {% endif %}

  {% if table == 'Employee' %}
    {% include 'createEmployee.html' %}
  {% endif %}

  {% if table == 'Ticket' %}
    {% include 'createTicket.html' %}
  {% endif %}
{% endif %}
