<form method="post">
<div class="row">
	<label for="txt_TicketID">TicketID:</label>
	<input id="txt_TicketID" name="txt_TicketID" type="text">
</div>
<div class="row">
	<label for="txt_Category">Category:</label>
	<input id="txt_Category" name="txt_Category" type="text">
</div>
<div class="row">
	<label for="txt_TicketDate">TicketDate:</label>
	<input id="txt_TicketDate" name="txt_TicketDate" type="text">
</div>
<div class="row">
	<label for="txt_TicketTime">TicketTime:</label>
	<input id="txt_TicketTime" name="txt_TicketTime" type="text">
</div>
<div class="row">
	<input id="chk_Solved" name="chk_Solved" type="checkbox">
	<span><label for="chk_Solved">Solved</label></span>
</div>
<div class="row">
	<label for="txt_Problem">Problem:</label>
	<input id="txt_Problem" name="txt_Problem" type="text">
</div>
<div class="row">
<input type="submit" value="Save">
</div>
</form>

